@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
 body {
     background-color: #BA55D3;
 }

.flex-container {
    /*margin-top: 60px;*/
    margin-left: 15px;
    /*margin-right: 180px;*/
    display: flex;
    /*background-color: beige;*/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.flex-element {
    /*color: blue;*/
    /*background: burlywood;*/
    background-color: #9400D3;
    padding: 15px;
    margin: 5px;
    flex-basis: 23%;
    height: 350px;
    border-radius: 10px;
}

.flex-element .img__poke {
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    /*background-color: blueviolet;*/
}

.flex-element div h3 {
    text-align: center;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*margin-top: 100px;*/
    /*background-color: bisque;*/
}

.header {
    margin-left: 450px;
    text-align: center;
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
    /*background-color: burlywood;*/
}

.header div {
    outline: 2px solid #000;
}

.header h1 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 350%;
}


.button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 1185px;
    height: 45px;
    background-color: #9370DB;
    border-radius: 15px;
    outline: none;
}

.inline {
    display: inline;
    margin-left: 7px;
    border-radius: 7px;
    /*background-color: bisque;*/
    background-color: #9370DB;
    outline: none;
    height: 35px;
    width: 90px;
}

.types {
    margin-left: 35px;
}

.poke__data {
    display: block;
    text-align: right;
}